<header></header>
<div class="container">

  <ng-container *ngIf="animeData$ | async as animeData">
    <div class="grid" *ngFor="let page of $any(animeData.data)?.pages">
      <div class="anime-card variation-{{anime.variation}}" *ngFor="let anime of page">
        <img [src]="anime?.coverImage?.extraLarge">
        <span class="anime-title">{{ anime.title.english }}</span>
      </div>
    </div>

    <div
      class="search-results"
      infiniteScroll
      [immediateCheck]="false"
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="animeData.fetchNextPage()"
    ></div>
  </ng-container>

</div>
